<h1 class="ajustes">Llegamos</h1>
<div class=" ajustes header">
  <div class="article" role="group" >
    <a href="?query=category:Chicken Giblets"><button type="button" class="navButton">Producto 1</button></a>
    <a href="?query=category:Oil - Sesame"><button type="button" class="navButton">Producto 2</button></a>
    <a href="?query=category:Beef Dry Aged Tenderloin Aaa"><button type="button" class="navButton">Producto 3</button></a>
    <a href="?query=category:Varios"><button type="button" class="navButton">Varios</button></a>
    <a href="?sort=asc"><button type="button" class="navButton">Ordenar ⬆️</button></a>
    <a href="?sort=desc"><button type="button" class="navButton">Ordenar ⬇️</button></a>

  </div>

</div>

<div class="ajustes1">



    {{#each prodList}}
    
      <div id={{this.id}} >
        <div  class="ajuste1a">
          <img src={{this.thumbnail}} id="aImg" />
          <p>{{this.title}}</p>
          <p>{{this.category}}</p>
          <p>{{this.description}}</p>
          <p>{{this.price}}price</p>
          <p>{{this.code}}</p>
        </div>
      
    
    


    {{/each}}


    <nav aria-label="...">
      <ul class="pagination ajustes">
        {{#if product.hasPrevPage}}
        <li class="page-item">
          <a class="page-link" href={{product.prevLink}} tabindex="-1"
            aria-disabled={{product.hasPrevPage}}>Previous</a>
        </li>
        {{else}}
        <li class="page-item disabled">
          <a class="page-link" href={{product.prevLink}} tabindex="-1"
            aria-disabled={{product.hasPrevPage}}>Previous</a>
        </li>
        {{/if}}

        <li class="page-item active" aria-current="page">
          <span class="page-link">Pagina
            {{product.page}}/{{product.totalPages}}</span>
        </li>

        {{#if product.hasNextPage}}
        <li class="page-item">
          <a class="page-link" href={{product.nextLink}} aria-disabled={{product.hasNextPage}}>Next</a>
        </li>
        {{else}}
        <li class="page-item disabled">
          <a class="page-link" href={{product.nextLink}} aria-disabled={{product.hasNextPage}}>Next</a>
        </li>
        {{/if}}

      </ul>
    </nav>



  </div>



</div>
<script src="/js/counter.js"></script>