<div class="ajustes1">
  {{!-- <h1 class="ajustes">Home</h1> --}}

  {{#each prodList}}
  <div {{this.category}} key={{this.id}}>
    <div class="ajuste1a" >
      <p>{{this.id}}</p>
      {{!-- <img src={{this.thumbnail}}/>       --}}
      <p>{{this.title}}fdfdf</p>
      <p>{{this.category}}</p>
      <p>{{this.description}}</p>
      <p>{{this.price}}price</p>
      <p>{{this.code}}</p>
    </div>


    {{/each}}
     {{#each product}}
                        <tr key={{this._id}}>
                            <td>{{this._id}}</td>
                            <td>{{this.title}}</td>
                            <td>{{this.description}}</td>
                            <td>{{this.category}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.thumbnail}}false</td>
                            <td>{{this.code}}</td>
                            <td>{{this.stock}}</td>
                            <td>{{this.status}}</td>
                        </tr>
                    {{/each}}


  </div>
  <script src="/js/counter.js"></script>