

<div class="itemC ajustes">

  {{#each products.payload }}
     <div class="cardIt cardItAjust" id="{{this.id}}">
            <h2>Articulo:{{this.title}}</h2>
            <h2>Descripción: {{this.description}}</h2>
            <h3>Precio: $ {{this.price}}</h3>
            <h3>codico: {{this._id}}</h3>
            <h3>Categoria: {{this.category}}</h3>
            <img src={{this.thumbnail}}   />
            <a href="#" class=" addButton" id={{this._id}} onclick="addToCart('{{this.id}}')">Añadir al
            carrito</a>
        </div>


  {{/each}}

</div>
{{!-- class='imgP' --}}
{{!-- <nav aria-label="...">
  <ul class="pagination">
    {{#if products.hasPrevPage}}
      <li class="boton2">
        <a
          class="onclick p"
          href={{product.prevLink}}
          tabindex="-1"
          aria-disabled={{product.hasPrevPage}}
        >Previous</a>
      </li>
    {{else}}
      <li class="boton2">
        <a
          class="onclick p"
          href={{product.prevLink}}
          tabindex="-1"
          aria-disabled={{product.hasPrevPage}}
        >Previous</a>
      </li>
    {{/if}}

    <li class="boton2" >
      <span class="onclick p">Pagina
        {{product.page}}/{{product.totalPages}}</span>
    </li>

    {{#if product.hasNextPage}}
      <li class="boton2">
        <a
          class="onclick p"
          href={{product.nextLink}}
          aria-disabled={{product.hasNextPage}}
        >Next</a>
      </li>
    {{else}}
      <li class="boton2">
        <a
          class="onclick p"
          href={{product.nextLink}}
          aria-disabled={{product.hasNextPage}}
        >Next</a>
      </li>
    {{/if}}

  </ul> --}}
{{!-- </nav> --}}
{{!-- <script src="/js/bannerCart.js"></script> --}}
<script src="/js/products.js"></script>